{% extends 'page.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block meta_description %}
    {{ constant('App\\Constant\\Site::DESCRIPTION') }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center text-center">
        <div class="col">
            <button class="btn btn-primary">Create a new room</button>
        </div>
        <div class="col">
            {{ form_start(form) }}

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
