<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ constant('App\\Constant\\Site::NAME') }}: {% block title %}{% endblock %}</title>
        <meta type="description" content="{% block meta_description %}{% endblock %}">
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main class="main-content">
            {% block body %}{% endblock %}

            {% include 'partials/footer.html.twig' %}
        </main>


    </body>
</html>
