{% extends 'base.html.twig' %}

{% block title %}React Example{% endblock %}

{% block body %}
    <div {{ react_component('Dashboard', { 'name': 'Symfony UX React' })|raw }}>
    </div>
{% endblock %}
